.congrats_bcg {
    color: #fff;
    /* padding: 50px 150px */
}

.congrats_title {
    margin: 50px 200px;
}

.congrats_bcg p {
    font-size: 20px;
    margin: 28px 200px;
}

.submitModalCongrats {
    background-image: url("../../img/congrats.jpg");
    position: fixed;
    top: 25vh;
    left: calc(25%);
    width: 65em;
    height: 25em;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}