.main {
  margin: 0 auto;
  background-image: url("../../img/silver_global_trade.png");
  background-size: cover;
  height: 100vh;
  background-position: bottom right;
  /* background-repeat: no-repeat; */
  display: flex;
  align-items: center;
  align-content: flex-start;
  /* flex-direction: column; */
  justify-content: space-between;
}

.gap-first {
  margin-left: 0.5%;
}

.gap {
  width: 50%;
}

.help-info {
  padding: 50px;
}

.help-ico {
  /* display: flex; */
  position: fixed;
  right: 40px;
  bottom: 50px;
  box-sizing: content-box;
  width: 3%;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #38546E;
  padding: 10px;
  cursor: pointer;
}

/* RESPONSIVE */

.main-responsive {
  /* display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between; */
}

.help-ico-responsive {
  position: fixed;
  right: 20px;
  bottom: 25px;
  box-sizing: content-box;
  width: 12%;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #38546E;
  padding: 10px;
  cursor: pointer;
}