.banner__btn:hover {
    background-color: #e79302;
}

.banner__btn {
    font-size: 21px;
    font-weight: 600;
    background-color: #FFA100;
    padding: 25px 50px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    width: 50%;
    margin: auto 0;
}

.margin {
    margin-bottom: 85px;
}