.container-inner {
    margin: 0 20px;
    max-width: 924px;
    width: 100%;
}

.container-inner h2 {
    color: #000000;
    font-family: "Oswald", Sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 50px;
}

.container-inner h4 {
    margin-top: 40px;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.4em;
}

.h2-center {
    text-align: center;
}

.b-double li {
    padding-left: 40px;
    font-weight: 600;
}

.container-inner li {
    font-family: "Montserrat", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #000000;
    padding-left: 30px;
    list-style: none;
    position: relative;
    margin-bottom: 25px;
}

/* RESPONSIVE */

.container-inner-responsive {
    margin: 0 10px;
    max-width: 400px;
    width: 80%;
}

.container-inner-responsive h2 {
    color: #000000;
    font-family: "Oswald", Sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 25px;
}

.container-inner-responsive h4 {
    margin-top: 25px;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
    text-align: center;
}

.b-double-responsive li {
    /* padding-left: 40px; */
    font-weight: 600;
}