.popup-inner {
    padding: 30px 30px 30px 30px;
    /* max-width: 720px; */
    /* width: 100%; */
    /* height: auto; */
    /* margin: auto 25px; */
    /* background: #fff; */
    /* border-radius: 10px; */
}

.popup-inner h2 {
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0 0 0;
    text-align: center;
}

.popup-inner h3 {
    color: #0075B2;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin: 0 0 20px 0;
}

.popup-inner form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.modal-loading {
    height: 25px;
    margin-left: 30px;
    display: none;
}

.popup-inner input[type=submit] {
    background-color: #E09109;
    color: #000;
    padding: 10px 25px;
    /* font-size: 20px; */
    font-weight: 600;
    /* line-height: 1.6em; */
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid #e99708
}

.popup-inner input[type=submit]:hover {
    background-color: #e99708;
    border: 1px solid #000
}